.form_container
{
    display:flex;
    justify-content: space-around;
}
body{
    background-color: rgb(255, 174, 0);
}
.button
{
    
    background-color: #1da0da;
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    margin: 0 auto;
}

#curve_chart{
    display: block;
    margin: 0 auto;
    width: 600px; 
    height: 500px;
}

input{
    border-width: 0px;
    padding: 5 5 5 5
}
input[type=button]{
    border-width: 0px;
    margin-left:10%;
}
label{
    font-weight: bold;
}